@model Site.EndPoint.Models.Account.Login_ViewModel

@{
    ViewData["Title"] = "ورود به سایت";
    var ThankYouMessageForRegisteration1 = TempData.Peek("message1");
}
<h3 class="text-center">
    @ViewData["Title"]
</h3>
<hr />
<div dir="rtl" class="container">
    <h1 >
        <span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
            <span id="kt_landing_hero_text">@ThankYouMessageForRegisteration1</span>
        </span>
    </h1>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3 align-self-center">
            <form asp-action="Login" id="login-page-form" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserNameOrEmail" class="control-label"> </label>
                    <input asp-for="UserNameOrEmail" class="form-control" />
                    <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="RememberMe" />
                    <label asp-for="RememberMe" class="control-label"></label>
                </div>
                @*<div class="form-group my-3">
                <GoogleRecaptchaHelper asp-callback="loginPageRecaptchaCallBack" asp-id="login-page-recaptcha"></GoogleRecaptchaHelper>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="ورود" class="btn btn-primary" />
                </div>
            </form>
            <div class="col">
            <a asp-action="ForgotPassword" asp-controller="Account" class="forgot-link">رمز عبور خود را فراموش کرده اید؟</a>
            </div>
            <div class="col">
                <a asp-action="Register" asp-controller="Account" class="forgot-link">ایجاد حساب کاربری</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}